.request-list-content {
    width: 100%;
    background: #f0f0f0;
    align-items: center;
}

.request-list-item {
    margin: 0px 20%;
    padding-top: 50px;
    padding-bottom: 100%;
    width: 60%;
}

.request-item-title {
    margin: 0 auto;
    width: 100%;
}

.request-list-title h1 {
    margin: 30px auto;
    color: #000000;
    font-weight: bold;
    font-size: 24px;
}

.request-status {
    padding-bottom: 10px;
    border-bottom: 1px solid #000000;
    margin-bottom:30px;
}

.request-status a{
    margin-left: 50px;
    padding-right: 50px;
    text-decoration: none;
    color: #000000;
}

.tab-link.is-active {
    font-weight: bold;
    color:#000000;
}

.request-list-table {
    display:flex;
    justify-content: center;
}

.request-list-table table{
    width: 100%;
    border-collapse: separate;
    border-spacing: 0 3px;
    border-radius: 5px;
}

table tr th:first-child {
    border-top-left-radius: 5px;
}

table tr th:last-child {
    border-top-right-radius: 5px;
}

table tr:last-child td:last-child {
    border-bottom-right-radius: 5px;
}

table tr:last-child td:first-child {
    border-bottom-left-radius: 5px;
}

.table-heading {
    text-align: center;
    background: #ffffff
}

.table-items {
    text-align: center;
    background: #ffffff
}

th {
    font-weight: 400;
}

td {
    font-weight: 300;
}

td a {
    color: #000000;
    text-decoration: none;
}

